
@(Html.IsraaApp().Page()
        .Title("Blog | Card Full Width Sidebar")
        .Footer()
        .Header(header => { 
            header.ShowTopbar(true);
            header.Nav(DemoMenu.GetDemoMenu()); 
        }) 
)



@Html.IsraaApp().Section().Overlay(5).Src("../Content/img/hero/h13.jpg").SectionType(SectionType.ParallaxImage).ContentTemplate(@<text>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 text-white">
                <div class="clearfix">
                    @Html.IsraaApp().Breadcrumb().Transparent()
                    <h1 class="fw-600">Grid Full Width View</h1>
                    <p class="lead mb-5">
                        We are going global <strong class="m-link-light">#LoveToNettex</strong> . To make it happen we are looking for fresh, ambitious talent to join our cause.
                    </p>
                    <a href="#read-all" class="btn btn-light btn-sm transition-hover pr-4 pl-4">Read all news</a>
                </div>
            </div>
        </div>
    </div> 
</text>)


@Html.IsraaApp().Section().BgColor(BootstrapColor.Light).AppendHtmlAtribute("id", "read-all").ContentTemplate(@<text>

    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                @Html.IsraaApp().BlogPosts(BlogPostViewName.Grid).Pageable(8)
                
            </div>

        </div>
    </div>

</text>)

 